<div style="text-align: center;">
    <div>
        <h1>{{title}}</h1>

        <input type="text" placeholder="Enter new task" #task id="input">
        <br> <br>
        <button (click)="addTask(task.value); clearField()" id="add">Add Task</button>

        <br><br>

        <ul *ngFor="let item of list">
            <!-- <li>{{item.name}} <button (click)="editTask(item.id)">Edit</button> <button (click)="deleteTask(item.id)">Delete</button></li> -->
            <li style="list-style-type: none;">{{item.name}} <button (click)="deleteTask(item.id)">Delete</button></li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>